{% extends 'base.html.twig' %}

{% block title %}ds{% endblock %}

{% block body %}
  <div class="container">
    <h1>Test DOKA</h1>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5>Menú</h5>
                    <a href="{{ path('app_laboratorio_index') }}"><button class="btn btn-success margin-top-10px">Laboratorio</button></a>
                    <br>
                    <a href="{{ path('app_almacen_index') }}"><button class="btn btn-success margin-top-10px">Almacen</button></a>
                    <br>
                    <a href="{{ path('app_articulo_index') }}"><button class="btn btn-success margin-top-10px">Artículos</button></a>
                    <br>
                    <a href="{{ path('app_lote_index') }}"><button class="btn btn-success margin-top-10px">Lote</button></a>
                </div>
            </div>
        </div>
    </div>
</div>  
{% endblock %}
