{% extends 'base.html.twig' %}

{% block title %}Editar Laboratorio{% endblock %}

{% block body %}
    <div class="row centrado">
        <div class="col-6">
            <h1>Editar Laboratorio</h1>

            {{ include('laboratorio/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
    <div class="row centrado">
        <div class="col-6">
            <a href="{{ path('app_laboratorio_index') }}" class="btn btn-primary back">Volver al listado</a>
        </div>
    </div>
{% endblock %}
