{% extends 'base.html.twig' %}

{% block title %}Nuevo Almacén{% endblock %}

{% block body %}
    <div class="row centrado">
        <div class="col-6">
            <h1>Crear nuevo Almacén</h1>

            {{ include('almacen/_form.html.twig') }}
        </div>
    </div>
    <div class="row centrado">
        <div class="col-6">
            <a href="{{ path('app_almacen_index') }}" class="btn btn-primary back">Volver al listado</a>
        </div>
    </div>
{% endblock %}
