{% extends 'base.html.twig' %}

{% block title %}Nuevo Articulo{% endblock %}

{% block body %}
    <div class="row centrado">
        <div class="col-6">
            <h1>Crear nuevo Artículo</h1>
            {{ include('articulo/_form.html.twig') }}
        </div>
    </div>
    <div class="row centrado">
        <div class="col-6">
            <a href="{{ path('app_articulo_index') }}" class="btn btn-primary back">Volver al listado</a>
        </div>
    </div>

{% endblock %}
